<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>EL_JSTL</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 
  	web.xml 파일은 배포와 관련된 설명, 설정을 작성하는 파일로
  	서버 배포시 최우선적으로 읽어지는 파일이다.
  -->
  <context-param>
  	<param-name>email</param-name>
  	<param-value>sksguswoek1@gmail.com</param-value>
  </context-param>
  
</web-app>